[user]
	name = Vinta Chen
	email = vinta.chen@gmail.com
	signingkey = B93DE4F003C33630

[core]
	excludesfile = ~/.gitignore_global

[credential]
	helper = osxkeychain

[init]
	defaultBranch = main

[commit]
	gpgsign = true

[tag]
	sort = version:refname

[diff]
	algorithm = histogram
	colorMoved = true

[fetch]
	prune = true

[pull]
	rebase = false
