[user]
	name = Vinta Chen
	email = vinta.chen@gmail.com

[push]
	default = simple

[color]
	ui = 1
	diff = auto
	status = auto
	branch = auto
	log = auto

[core]
	excludesfile = ~/.gitignore_global
	preloadindex = true
	ignorecase = false

[help]
	autocorrect = 1

[credential]
	helper = osxkeychain
