{
  "printWidth": 200,
  "quoteProps": "consistent",
  "htmlWhitespaceSensitivity": "strict",
  "organizeImportsSkipDestructiveCodeActions": true,
  "overrides": [
    {
      "files": "**/*.json",
      "options": {
        "parser": "json-stringify"
      }
    }
  ]
}
