---
- name: Install Command Line Tools
  command: xcode-select --install
  register: basic_clt_install
  failed_when: false
  changed_when: '"Command line tools are already installed" in basic_clt_install.stdout'

- name: Install Rosetta 2
  command: softwareupdate --install-rosetta --agree-to-license
  when:
    - ansible_facts["machine"] == "arm64"
    - not ansible_check_mode

- name: Update Homebrew
  homebrew:
    update_homebrew: true

- name: Install utility packages
  homebrew:
    name:
      - ast-grep
      - fd
      - fzf
      - htop
      - jq
      - macos-trash
      - pstree
      - ripgrep
      - tmux
      - tree
      - wget
      - yq
    state: latest

- name: Install git packages
  homebrew:
    name:
      - git
      - gitleaks
      - gh
    state: latest

- name: Install gpg packages
  homebrew:
    name:
      - gpg2
      - pinentry-mac
    state: latest

- name: Install linter packages
  homebrew:
    name:
      - actionlint
      - shellcheck
      - shfmt
      - zizmor
    state: latest

# https://github.com/ohmyzsh/ohmyzsh
- name: Install oh-my-zsh
  shell: sh -c "$(curl -fsSL https://raw.githubusercontent.com/ohmyzsh/ohmyzsh/master/tools/install.sh)"
  args:
    creates: "{{ ansible_facts['env']['HOME'] }}/.oh-my-zsh/"

- name: Create directories
  file:
    path: "{{ item }}"
    state: directory
    mode: "0755"
  with_items:
    - "{{ ansible_facts['env']['HOME'] }}/Downloads"
    - "{{ ansible_facts['env']['HOME'] }}/Projects"

- name: Link hal-9000
  file:
    src: "{{ REPO_ROOT }}"
    dest: "{{ ansible_facts['env']['HOME'] }}/Projects/hal-9000"
    state: link

- name: Run hal sync
  command: "{{ REPO_ROOT }}/bin/hal sync"

- name: Ensure hal environment is sourced in .zshrc
  lineinfile:
    dest: "{{ REPO_ROOT }}/dotfiles/.zshrc"
    line: "source {{ REPO_ROOT }}/playbooks/roles/basic/files/hal_profile.sh"
    state: present
  when: ansible_facts["env"]["SHELL"] == "/bin/zsh"
