awscli
coverage
flake8
flake8-bandit
flake8-bugbear
flake8-comprehensions
flake8-debugger
flake8-import-order
flake8-module-imports
flake8-print
flake8-string-format
httpie
ipdb
ipython
pangu
pep8-naming
prospector
pylama
pylint
pylint-celery
pylint-common
pylint-django
pylint-flask
requests
tmuxp
