awscli
bpython
coverage
flake8
flake8-debugger
flake8-print
flake8-string-format
howdoi
httpie
ipdb
ipython
pangu
pep8-naming
pylint
pylint-celery
pylint-django
saltpylint
sphinx
sphinx-rtd-theme
thefuck
uniout
virtualenv
virtualenvwrapper
wheel
