coverage
flake8
flake8-alfred
flake8-bandit
flake8-blind-except
flake8-bugbear
flake8-builtins
flake8-comprehensions
flake8-debugger
flake8-mutable
flake8-pep3101
flake8-pie
flake8-print
flake8-string-format
httpie
ipdb
ipykernel
ipython
jedi
jokekappa
kube-shell
mypy
pangu
pep8-naming
pylint
pylint-celery
pylint-common
pylint-django
pylint-flask
pytest
pytest-benchmark
requests
tmuxp
