---
# https://github.com/astral-sh/uv
- name: Install uv
  homebrew:
    name: uv
    state: latest

# https://www.python.org/downloads/
- name: Install Python 3.13.11
  shell: |
    uv python install 3.13.11
    uv python pin 3.13.11 --global
  args:
    executable: /bin/bash
  register: python_uv_install
  changed_when: "'Installed' in python_uv_install.stderr"

- name: Create global python symlinks
  shell: |
    mkdir -p {{ ansible_facts['env']['HOME'] }}/.local/bin
    ln -sf $(uv python find) {{ ansible_facts['env']['HOME'] }}/.local/bin/python
    ln -sf $(uv python find) {{ ansible_facts['env']['HOME'] }}/.local/bin/python3
  args:
    executable: /bin/bash

- name: Install global Python tools
  shell: xargs -L1 uv tool install < {{ role_path }}/files/requirements.txt
  args:
    executable: /bin/bash
  register: python_tool_install
  changed_when: "'Installed' in python_tool_install.stderr"

- name: Ensure Python environment is sourced in .zshrc
  lineinfile:
    dest: "{{ REPO_ROOT }}/dotfiles/.zshrc"
    line: "source {{ REPO_ROOT }}/playbooks/roles/python/files/py_profile.sh"
    state: present
  when: ansible_facts["env"]["SHELL"] == "/bin/zsh"
