- name: Install prerequisite packages
  homebrew:
    name: ["libusb"]
    state: latest

# https://book.getfoundry.sh/getting-started/installation
- name: Download foundryup
  shell: sh -c 'curl -L https://foundry.paradigm.xyz | bash'
  args:
    creates: "{{ ansible_env.HOME }}/.foundry/bin/foundryup"

- name: Install foundry
  shell: sh -c '$HOME/.foundry/bin/foundryup'
  args:
    creates: "{{ ansible_env.HOME }}/.foundry/bin/forge"

- name: Enable eth environment in .zshrc
  lineinfile:
    dest: "{{ ansible_env.HOME }}/.zshrc"
    line: "{{ item }}"
    create: yes
  with_items:
    - source {{ REPO_ROOT }}/playbooks/roles/ethereum/files/eth_profile.sh
  when: ansible_env.SHELL == "/bin/zsh"
