# https://docs.aws.amazon.com/cli/latest/userguide/getting-started-install.html
- name: Download awscli
  shell: sh -c 'curl "https://awscli.amazonaws.com/AWSCLIV2.pkg" -o "AWSCLIV2.pkg"'
  args:
    chdir: /tmp
    creates: /usr/local/bin/aws

- name: Install awscli
  shell: sh -c 'sudo installer -pkg AWSCLIV2.pkg -target /'
  args:
    chdir: /tmp
    creates: /usr/local/bin/aws

# https://github.com/jorgebastida/awslogs
- name: Install awslogs
  homebrew:
    name: ["awslogs"]

# https://github.com/weaveworks/eksctl/blob/main/README.md#installation
- name: Download eksctl
  shell: sh -c 'curl --silent --location "https://github.com/weaveworks/eksctl/releases/latest/download/eksctl_$(uname -s)_$(arch).tar.gz" | tar xz -C /tmp'
  args:
    creates: /usr/local/bin/eksctl

- name: Install eksctl
  shell: sh -c 'sudo mv /tmp/eksctl /usr/local/bin'
  args:
    creates: /usr/local/bin/eksctl
