---
# https://cloud.google.com/sdk/docs/quickstart-macos
- name: Download Google Cloud SDK
  unarchive:
    src: https://dl.google.com/dl/cloudsdk/channels/rapid/downloads/google-cloud-cli-darwin-arm.tar.gz
    remote_src: true
    dest: "{{ ansible_env.HOME }}/"
    creates: "{{ ansible_env.HOME }}/.google-cloud-sdk"

- name: Rename
  command: mv {{ ansible_env.HOME }}/google-cloud-sdk {{ ansible_env.HOME }}/.google-cloud-sdk
  args:
    creates: "{{ ansible_env.HOME }}/.google-cloud-sdk"

- name: Install gcloud components
  command: "{{ ansible_env.HOME }}/.google-cloud-sdk/bin/gcloud components install gke-gcloud-auth-plugin"
  register: gcp_command_result
  changed_when: "'All components are up to date' not in gcp_command_result.stderr"

- name: Update gcloud components
  shell: yes 'y' | {{ ansible_env.HOME }}/.google-cloud-sdk/bin/gcloud components update
  register: gcp_command_result
  changed_when: "'All components are up to date' not in gcp_command_result.stderr"
