---
# https://github.com/nvm-sh/nvm
- name: Install nvm
  shell: curl -o- https://raw.githubusercontent.com/nvm-sh/nvm/v0.40.3/install.sh | bash
  args:
    creates: "{{ ansible_env.HOME }}/.nvm/nvm.sh"

- name: Install Node.js 22.15.0
  shell: |
    export NVM_DIR="${HOME}/.nvm"
    [ -s "$NVM_DIR/nvm.sh" ] && \. "$NVM_DIR/nvm.sh"
    nvm install 22.15.0
    nvm use 22.15.0
    nvm alias default 22.15.0
  args:
    executable: /bin/bash
  register: node_install
  changed_when: "'is already installed' not in node_install.stderr"

- name: Upgrade npm
  shell: |
    export NVM_DIR="${HOME}/.nvm"
    [ -s "$NVM_DIR/nvm.sh" ] && \. "$NVM_DIR/nvm.sh"
    npm install -g npm@latest
  args:
    executable: /bin/bash

- name: Configure npm
  shell: |
    export NVM_DIR="${HOME}/.nvm"
    [ -s "$NVM_DIR/nvm.sh" ] && \. "$NVM_DIR/nvm.sh"
    npm config set ignore-scripts true
  args:
    executable: /bin/bash

- name: Install Node.js packages
  shell: |
    export NVM_DIR="${HOME}/.nvm"
    [ -s "$NVM_DIR/nvm.sh" ] && \. "$NVM_DIR/nvm.sh"
    npm install -g pangu
    npm install -g npm-check-updates
    npm install -g @anthropic-ai/claude-code
    npm install -g @openai/codex
    npm install -g @google/gemini-cli
  args:
    executable: /bin/bash

- name: Ensure Node.js environment is sourced in .zshrc
  lineinfile:
    dest: "{{ REPO_ROOT }}/dotfiles/.zshrc"
    line: "source {{ REPO_ROOT }}/playbooks/roles/node/files/node_profile.sh"
    state: present
  when: ansible_env.SHELL == "/bin/zsh"
