---
- name: Install prerequisite packages
  homebrew:
    name:
      - coreutils
      - fzf
      - gnu-tar
      - jq
    state: latest

# https://kubernetes.io/releases/
# https://kubernetes.io/docs/tasks/tools/install-kubectl-macos/
- name: Download kubectl
  shell: sh -c 'curl -LO "https://dl.k8s.io/release/v1.32.10/bin/darwin/$(arch)/kubectl"'
  args:
    chdir: /tmp
    creates: /usr/local/bin/kubectl

- name: Install kubectl
  command: sudo mv /tmp/kubectl /usr/local/bin
  args:
    chdir: /tmp
    creates: /usr/local/bin/kubectl

# https://github.com/derailed/k9s
- name: Install k9s
  homebrew:
    name:
      - derailed/k9s/k9s
    state: latest

- name: Ensure Kubernetes environment is sourced in .zshrc
  lineinfile:
    dest: "{{ REPO_ROOT }}/dotfiles/.zshrc"
    line: "source {{ REPO_ROOT }}/playbooks/roles/kubernetes/files/k8s_profile.sh"
    state: present
  when: ansible_env.SHELL == "/bin/zsh"
